.words {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
  span {
    margin: 10px;
    padding: 10px;
  }
};

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    background-color: rgb(225, 223, 223);
    border: none;
    border-bottom: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    height: 40px;
    width: 400px;
    font-size: 20px;
  }

  button {
    display: none;
  }
};

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}