@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body, html {
  background-color: rgb(230, 112, 21);
}

.localize {
  button {
    cursor: pointer;
    height: 40px;
    width: 60px;
    margin: 2px;
    float: right;
  }
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1 {
    color: rgb(240, 230, 173);
    font-family: 'Acme', sans-serif;
    font-size: 100px;
    text-shadow: 8px 5px rgb(54, 28, 3);
  }

  p {
    margin: 10px;
    padding: 10px;
    font-size: 35px;
    text-align: center;
  }

  button {
    background-color: rgb(240, 230, 173);
    border-radius: 20px;
    font-size: 25px;
    width: 150px;
    height: 70px;
    cursor: pointer;
    box-shadow: 0 6px rgb(54, 28, 3);
  }

  button:active {
    background-color: rgb(215, 204, 144);
    box-shadow: 0 5px rgb(54, 28, 3);
    transform: translateY(4px);
  }
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;



  label {
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
  }

  label:hover {
    color: red;
  }

  

  button {
    cursor: pointer;
  }

}
