@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

img {
  width: 300px;
  height: 101px;
  cursor: pointer;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: rgb(240, 230, 173);
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    text-shadow: 8px 5px rgb(54, 28, 3);
  }

  p {
    font-size: 20px;
    font-weight: bold;
  }

  input[type=radio] {
    opacity: 0;
  }

  input[type=radio]:checked + label {
    box-shadow: 2px 2px 2px limegreen;
  }

  button {
    margin: 10px;
  }

  button:active {
    background-color: rgb(215, 204, 144);
    box-shadow: 0 5px rgb(54, 28, 3);
    transform: translateY(4px);
  }
}

legend {
  background-color: rgb(240, 230, 173);
  font-family: 'Acme', sans-serif;
  border-radius: 10px;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px dotted rgb(240, 230, 173);
  margin-bottom: 10px;

  label:target {
      margin: 6px;
      cursor: pointer;
      box-shadow: 10px 10px 10px 10px rgb(65, 51, 5);
  }

  label {
    margin: 6px;
    background-color: rgb(240, 230, 173);
    border-radius: 12px;
    width: 20%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
  }

  label:hover {
    border: 2px solid rgb(65, 51, 5);
    box-shadow: 2px 2px 2px rgb(65, 51, 5);
  }

  p {
    display: flex;
    background-color: rgb(250, 191, 128);
    border-radius: 20px;
    height: 50%;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .FnV {
    box-shadow: 5px 5px 5px rgb(65, 51, 5);
  }

  .Names {
    box-shadow: 5px 5px 5px rgb(65, 51, 5);
  }

  .Animals {
    box-shadow: 5px 5px 5px rgb(65, 51, 5);
  }

  .Pokemon {
    box-shadow: 5px 5px 5px rgb(65, 51, 5);
  }

  .Movies {
    box-shadow: 5px 5px 5px rgb(65, 51, 5);
  }

  .Marvel {
    box-shadow: 5px 5px 5px rgb(65, 51, 5);
  }
}

.submit {
    background-color: rgb(240, 230, 173);
    border-radius: 20px;
    font-size: 25px;
    width: 150px;
    height: 70px;
    cursor: pointer;
    box-shadow: 0 6px rgb(54, 28, 3);
    padding: 0;

  :active {
      background-color: rgb(215, 204, 144);
      box-shadow: 0 5px rgb(54, 28, 3);
      transform: translateY(4px);
    }
}

.link {
  font-size: 20px;
  color:rgb(215, 204, 144);
  cursor: pointer;
  padding: 20%;
  :visited {
    color: rgb(96, 231, 246);
  }

  :active {
    color: rgb(12, 12, 12);
  }

}

@media only screen and (max-width: 414px) {
  img {
    width: 40vw;
    height: 12vh;
    cursor: pointer;
  }

  .rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: rgb(240, 230, 173);
      font-family: 'Acme', sans-serif;
      font-size: 60px;
      text-shadow: 8px 5px rgb(54, 28, 3);
    }

    p {
      font-size: 20px;
      font-weight: bold;
    }

    input[type=radio] {
      opacity: 0;
    }

    input[type=radio]:checked + label {
      box-shadow: 2px 2px 2px limegreen;
    }

    button {
      margin: 10px;
    }

    button:active {
      background-color: rgb(215, 204, 144);
      box-shadow: 0 5px rgb(54, 28, 3);
      transform: translateY(4px);
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dotted rgb(240, 230, 173);
    margin-bottom: 10px;

    label:target {
        margin: 6px;
        cursor: pointer;
        box-shadow: 10px 10px 10px 10px rgb(65, 51, 5);
    }

    label {
      margin: 6px;
      background-color: rgb(240, 230, 173);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      cursor: pointer;
    }

    label:hover {
      border: 2px solid rgb(65, 51, 5);
      box-shadow: 2px 2px 2px rgb(65, 51, 5);
    }

    p {
      display: flex;
      background-color: rgb(250, 191, 128);
      border-radius: 20px;
      height: 50%;
      padding: 5px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .FnV {
      box-shadow: 5px 5px 5px rgb(65, 51, 5);
    }

    .Names {
      box-shadow: 5px 5px 5px rgb(65, 51, 5);
    }

    .Animals {
      box-shadow: 5px 5px 5px rgb(65, 51, 5);
    }

    .Pokemon {
      box-shadow: 5px 5px 5px rgb(65, 51, 5);
    }

    .Movies {
      box-shadow: 5px 5px 5px rgb(65, 51, 5);
    }

    .Marvel {
      box-shadow: 5px 5px 5px rgb(65, 51, 5);
    }
  }
}